.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #c82333;
}
